.venv
.idea

data

milvus_db
vectorscale_db

__pycache__

lab6/mlruns
homework6/mlruns
lab6/finetuned_model
homework6/finetuned_model
lab7/models
model_quantized.pt
lab7/onnx_app/non_opt_model.onnx

lab9/models